$font-family: "Linotype Univers", sans-serif;

/* durations */
$slow: 600ms;
$normal: 300ms;
$fast: 100ms;
$size: 500px;

* {
    box-sizing: border-box;
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

.main-title {
  font-size: 24px;
  font-weight: 800;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui-holder{
  width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.animation-type-holder{
    width: 150px;
}

.generator-content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#summary-content{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 100;
  max-width: 450px;
  min-height: 50px;
}

.generator-holder{
    position: relative;
    width: $size;
    height: $size;
    border: 1px solid #717070;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    min-width: 150px;
    height: auto;
    font-size: 1.5rem;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 5px;
    color: #333333;
    background-color: transparent;
    border-radius: 8px;
}

/* opacity */

.fadeIn{
    opacity: 1;
    transition-property: opacity;
}

.fadeOut{
    opacity: 0;
    transition-property: opacity;
}

@keyframes fadeIn{
    from {
        opacity:0
    }
    to {
        opacity: 1;
    }
}

/* movement */

.slideOutLeft {
    transform: translate(-60%, -50%);
    opacity: 0;
    transition-property: transform, opacity;
}
.slideOutRight {
    transform: translate(-40%, -50%);
    opacity: 0;
    transition-property: transform, opacity;
}
.slideOutUp {
    transform: translate(-50%, -60%);
    opacity: 0;
    transition-property: transform, opacity;
}
.slideOutDown {
    transform: translate(-50%, -40%);
    opacity: 0;
    transition-property: transform, opacity;
}

.slideInLeftSetup {
  transform: translate(-60%, -50%);
  opacity: 0;
}

.slideInLeft {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition-property: transform, opacity;
}
.slideInRight {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition-property: transform, opacity;
}
.slideInUp {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition-property: transform, opacity;
}
.slideInDown {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition-property: transform, opacity;
}

/* duration */

.slow {
    transition-duration: $slow;
}

.normal {
    transition-duration: $normal;
}

.fast {
    transition-duration: $fast;
}

